label {
  display: block;
  margin-top: 2rem;
  font-weight: 500;
  color: var(--gray-900);
}

input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 1rem;
}

input:hover {
  border-color: #007bff;
}

button {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 1000;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: default;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}